header {
	background-color: #072974;
	color: white;
	padding: 20px;
	text-align: center;
}

header img {
    display: block;
    margin: 0 auto;
    height: 200px; 
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px auto;
    max-width: 1200px;
}

.sidebar {
	width: 200px;
	background-color: #ecf0f1;
	padding: 20px;
	border-radius: 5px;
	min-height: 400px;
}

.sidebar.left {
	order: 1;
}

main {
    flex-grow: 1; 
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 5px;
    order: 2;
    text-align: center;
}

main table {
	margin: 0 auto;
}

.sidebar.right {
	order: 3;
}

footer {
	background-color: #072974;
	color: white;
	padding: 20px;
	text-align: center;
	margin-top: 20px;
}

hr {
    width: 100%;
	border: none;
	border-top: 1px solid #ccc;
	height: 1px;
	margin: 20px 0;
}